<p id="notice"><%= notice %></p>

<h1>Listing Crimes</h1>

<div class="media">
  <div class="media-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>TYPE</th>
          <th>HUNDRED_BLOCK</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>

  <tbody>
    <% @crimes.each do |crime| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
        <td><%= crime.TYPE %></td>
        <td><%= crime.HUNDRED_BLOCK %></td>
        <td><%= link_to 'Show', crime %></td>
        <td><%= link_to 'Edit', edit_crime_path(crime) %></td>
        <td><%= link_to 'Destroy', crime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>

<br>

<h3>Import Crimes</h3>
<%= form_tag import_crimes_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Upload Crimes" %>
<% end %>

<%= link_to 'New Crime', new_crime_path %>
