<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @crime.TYPE %>
</p>

<p>
  <strong>Location:</strong>
  <%= @crime.HUNDRED_BLOCK %>
</p>

<%= link_to 'Edit', edit_crime_path(@crime) %> |
<%= link_to 'Back', crimes_path %>
